/*

   888888b.
   888  "88b
   888  .88P
   8888888K.   8888b.  .d8888b   .d88b.
   888  "Y88b     "88b 88K      d8P  Y8b
   888    888 .d888888 "Y8888b. 88888888
   888   d88P 888  888      X88 Y8b.
   8888888P"  "Y888888  88888P'  "Y8888

*/

html {
	font-size: 1em;
	line-height: 1.4;
}

body {
	margin: 0;
	font-family: Lato, Helvetica, Arial, sans-serif;
	color: #34495e;
}

/* Increase size of body to allow pushing footer to the bottom. */

html, body {
	height: 100%;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/* A better looking default horizontal rule */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/*
 * Remove p margins by default because they are often the first
 * or last element of their container and margins overflow.
 */

p, ul, dl {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
}

table {
	width: 100%;
	margin: 0.25rem 0;
}

th {
	background-color: #34495e;
	color: white;
}

td {
	background-color: #e3f7fc;
	text-align: center;
}

/* Links */

a {
	color: #16a085;
	text-decoration: none;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}

a:hover,
a:focus {
	color: #1abc9c;
	text-decoration: none;
	outline: none;
}

/* Buttons*/

a[role=button],
input[type=submit],
input[type=button] {
	color: #fff;
	border: none;
	font-weight: normal;
	line-height: 1.3;
	border-radius: 0.25rem;
	padding: 0.625rem 1rem;
	-webkit-appearance: none;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
	cursor: pointer;
	outline: none;
}

a[role=button]:active,
input[type=submit]:active {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

a[role=button],
input[type=button] {
	background-color: #1abc9c;
}

a[role=button]:hover,
a[role=button]:focus,
input[type=button]:hover,
input[type=button]:focus {
	background-color: #48c9b0;
}

a[role=button]:active,
input[type=button]:active {
	background-color: #16a085;
}

input[type=submit] {
	background-color: #2ecc71;
}

input[type=submit]:hover,
input[type=submit]:focus {
	background-color: #58d68d;
}

input[type=submit]:active {
	background-color: #27ad60;
}

/* Forms */

input, textarea {
	width: 100%;
	padding: 0.375rem 0.75rem;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-webkit-box-sizing : border-box;‌​
	-moz-box-sizing : border-box;
	box-sizing : border-box;
	display: inline-block;
	font-size: 1em;
	margin: 0.2rem 0;
}

input:focus, textarea:focus, .focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgba(102,175,233,.6);
}

input[readonly] {
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
	color: #000;
}

input:not(:focus):invalid {
	border-color: #a94442;
}

input:focus ~ input:invalid,
.focus ~ input:invalid {
	border-color: #ccc;
}

/* Polyfill for browsers without placeholder builtin */

.placeholder {
	color: #aaa;
}

label {
	padding-left: 1.4em;
	background: 0/1em no-repeat;
}

fieldset > legend {
	font-weight: bold;
	padding-bottom: 0.25rem;
}

main > h2 {
	text-align: center;
	margin: 0 0 0.25rem 0;
}

/* Tagsinput */

.bootstrap-tagsinput {
	box-sizing : border-box;
	width: 100%;
}

.bootstrap-tagsinput input {
	box-shadow: none;
	padding-top: 0.1rem;
}

/* Typeahead */

.tt-suggestions {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	padding: 0.25rem 0;
	margin: 0;
	box-shadow: 0 3px 6px rgba(0,0,0,.5);
}

.tt-suggestion {
	display: block;
	padding: 0.4rem 1rem;
}

.tt-suggestion.tt-cursor {
	color: white;
	background-color: #3498db;
}


/*

   8888888888                   888
   888                          888
   888                          888
   8888888     .d88b.  88888b.  888888 .d8888b
   888        d88""88b 888 "88b 888    88K
   888        888  888 888  888 888    "Y8888b.
   888        Y88..88P 888  888 Y88b.       X88
   888         "Y88P"  888  888  "Y888  88888P'

*/

@font-face {
	font-family: 'Lato';
	src: url('../font/lato/lato-black.eot');
	src: url('../font/lato/lato-black.eot?#iefix') format('embedded-opentype'),
	     url('../font/lato/lato-black.woff') format('woff'),
	     url('../font/lato/lato-black.ttf') format('truetype'),
	     url('../font/lato/lato-black.svg#latoblack') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../font/lato/lato-bold.eot');
	src: url('../font/lato/lato-bold.eot?#iefix') format('embedded-opentype'),
	     url('../font/lato/lato-bold.woff') format('woff'),
	     url('../font/lato/lato-bold.ttf') format('truetype'),
	     url('../font/lato/lato-bold.svg#latobold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../font/lato/lato-bolditalic.eot');
	src: url('../font/lato/lato-bolditalic.eot?#iefix') format('embedded-opentype'),
	     url('../font/lato/lato-bolditalic.woff') format('woff'),
	     url('../font/lato/lato-bolditalic.ttf') format('truetype'),
	     url('../font/lato/lato-bolditalic.svg#latobold-italic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('../font/lato/lato-italic.eot');
	src: url('../font/lato/lato-italic.eot?#iefix') format('embedded-opentype'),
	     url('../font/lato/lato-italic.woff') format('woff'),
	     url('../font/lato/lato-italic.ttf') format('truetype'),
	     url('../font/lato/lato-italic.svg#latoitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('../font/lato/lato-light.eot');
	src: url('../font/lato/lato-light.eot?#iefix') format('embedded-opentype'),
	     url('../font/lato/lato-light.woff') format('woff'),
	     url('../font/lato/lato-light.ttf') format('truetype'),
	     url('../font/lato/lato-light.svg#latolight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../font/lato/lato-regular.eot');
	src: url('../font/lato/lato-regular.eot?#iefix') format('embedded-opentype'),
	     url('../font/lato/lato-regular.woff') format('woff'),
	     url('../font/lato/lato-regular.ttf') format('truetype'),
	     url('../font/lato/lato-regular.svg#latoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*

   888                                          888
   888                                          888
   888                                          888
   888       8888b.  888  888  .d88b.  888  888 888888
   888          "88b 888  888 d88""88b 888  888 888
   888      .d888888 888  888 888  888 888  888 888
   888      888  888 Y88b 888 Y88..88P Y88b 888 Y88b.
   88888888 "Y888888  "Y88888  "Y88P"   "Y88888  "Y888
                          888
                     Y8b d88P
                      "Y88P"
*/

/* Main header (top bar) */

#topbar {
	height: 3.5rem;
	background: #34495e;
}

#topbar > h1 {
	display: inline;
	font-size: 2rem;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

#topbar > h1:hover,
#topbar > h1:focus,
#topbar > h1:active {
	text-shadow: 0 0 3px #fff;
}

#topbar > h1 > a {
	display: inline-block;
	height: 2.5rem;
	margin: 0;
	padding: 0.5rem;
	padding-left: 4rem;
	color: #fff;
	background: 0.25rem/3rem no-repeat url('../img/toople-logo.svg');
}

#topbar > a {
	float: right;
	margin: 0.5rem;
}

#topbar > a[href="/new/event"] {
	display: block;
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-position: 0.25rem;
	background-size: 2rem;
	background-repeat: no-repeat;
	background-image: url('../images/newevent.svg');
}

/* Main footer */

#footer {
	height: 5rem;
	padding: 0 0.5rem;
	color: #fff;
	background: #34495e center 2.25rem/2rem no-repeat url('../img/toople-logo.svg');
}

#footer ul {
	margin: 0;
	padding: 0.4rem 0;
}

#footer li {
	float: left;
	text-align: center;
	width: calc((100% - 4em) / 3);
	margin-left: 2em;
	font-size: 0.875rem;
	list-style-type: disc;
}

#footer li:first-child {
	list-style-type: none;
	margin: 0;
}

/* Logged in footer */

#logged-in {
	height: 3rem;
	background: #3498db;
	text-align: center;
	font-size: 0.9rem;
}

#logged-in > p {
	padding-top: 0.25rem;
	color: #fff;
}

#logged-in > nav > a {
	color: #fff;
	text-decoration: underline;
	margin: 0 0.6em;
	padding-left: 1.4em;
}

#logged-in > nav > a:hover {
	text-shadow: 0 0 2px #fff;
}


#logged-in > nav > a[href="/settings"] {
	background: 0/1em no-repeat url('../images/settings.svg');
}

#logged-in > nav > a[href="/logout"] {
	background: 0/1em no-repeat url('../images/logout.svg');
}

/* Push footer to the bottom. */

main {
	padding: 0.5rem;
	min-height: calc(100% - 9.5rem);
}

main.logged-in {
	min-height: calc(100% - 12.5rem);
}

/*

   8888888b.
   888   Y88b
   888    888
   888   d88P  8888b.   .d88b.   .d88b.  .d8888b
   8888888P"      "88b d88P"88b d8P  Y8b 88K
   888        .d888888 888  888 88888888 "Y8888b.
   888        888  888 Y88b 888 Y8b.          X88
   888        "Y888888  "Y88888  "Y8888   88888P'
                            888
                       Y8b d88P
                        "Y88P"
*/

#welcome {
	text-align: center;
}

#welcome > p:first-child {
	font-size: 1.25rem;
	line-height: 1.5;
	font-weight: 300;
}

#welcome > img {
	width: 100%;
}

#welcome > a {
	display: inline-block;
	padding: 0.75rem 2rem;
	margin: 1rem 0 0.5rem;
}

#welcome > a,
#signup input[type=submit] {
	background-color: #2ecc71;
}

#welcome > a:hover,
#welcome > a:focus,
#signup input[type=submit]:hover,
#signup input[type=submit]:focus {
	background-color: #58d68d;
}

#welcome > a:active,
#signup input[type=submit]:active {
	background-color: #27ad60;
}

/* Hide labels, use placeholders only on mobile. */

#login label,
#signup label {
	display: none !important;
	visibility: hidden;
}

#login small,
#signup small {
	font-size: 0.875rem;
	display: block;
	margin: 0.25rem 0.25rem 0.5rem;
}

.passStrengthify {
	float: right;
	width: 12.5em;
	position: relative;
	bottom: 0.2rem;
}

label[for="new-event-title"] {
	background-image: url('../img/toople-logo-purple.svg');
}

label[for="new-event-date"] {
	background-image: url('../images/date-time.svg');
}

label[for="new-event-location"] {
	background-image: url('../images/location.svg');
}

label[for="new-event-threshold"] {
	background-image: url('../images/people.svg');
}

label[for="new-event-circles"] {
	background-image: url('../images/circle.svg');
}

label[for="new-event-info"] {
	background-image: url('../images/information.svg');
}

label[for="new-circle-name"] {
	background-image: url('../images/circle.svg');
}

label[for="new-circle-emails"] {
	background-image: url('../images/email.svg');
}

label[for="new-circle-slug"] {
	background-image: url('../images/circle-id.svg');
}

#home > h2 {
	width: 6em;
	margin: 0 auto;
	padding-left: 1.25em;
	background: 0/1em no-repeat url('../images/notification.svg');
}

/* Notifications */

li.notification {
	background-color: #eff0f2;
	border-radius: 0.25rem;
	padding: 0.25rem;
	margin: 0.75rem 0;
}

/* Ensure the floating join button doesn't go past (clearfix). */

li.notification:after {
	content: " ";
	display: table;
	clear: both;
}

li.notification.event {
	background-color: #e3f7fc;
}

li.notification.event > hgroup {
	border-bottom: dashed 1px #34495e;
	padding-bottom: 0.25rem;
	margin-bottom: 0.5em;
}

li.notification.event > hgroup > h3 {
	display: inline;
	padding-left: 1.3em;
	background: 0/1em no-repeat url('../images/event.svg');
}

li.notification.event > hgroup > span {
	font-weight: 300;
	padding-left: 0.25em;
}

li.notification.event > dl > dt, .event > dl > dd {
	display: inline;
	margin: 0;
}

li.notification.event > dl > dt {
	font-weight: bold;
}

li.notification.event > dl > dt:nth-of-type(2n+3):before {
	content: '\a';
	white-space: pre;
}

li.notification.event > dl > dt:nth-of-type(even):before {
	content: '•';
	padding: 0 0.5em;
}

input.join-event {
	float: right;
	width: 5rem;
}

summary::-webkit-details-marker {
	position: relative;
	right: 1.25em;
}

li.event > details > summary {
	font-weight: bold;
	margin-top: 0.75rem;
	padding-left: 1.5em;
	background: 1.25em/1em no-repeat url('../images/people.svg');
	outline: 0;
	cursor: pointer;
}

li.notification > h3 {
	display: inline;
	padding-left: 1.3em;
	background: 0/1em no-repeat;
	font-size: 1rem;
	text-transform: uppercase;
}

li.notification > p {
	display: inline;
}

li.notification.event.cancelled {
	background: #ffecec;
}

li.notification.event.cancelled > h3 {
	background-image: url('../images/error.svg');
}

li.notification.join {
	background: #fff8c4;
}

li.notification.join > h3 {
	background-image: url('../images/alert.svg');
}

li.notification.join.me {
	background: #e9ffd9;
}

li.notification.join.me > h3 {
	background-image: url('../images/success.svg');
}

input.dismiss {
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
	height: 1.25rem;
	width: 1.25rem;
	line-height: 1rem;
	border-radius: 0.25rem;
	padding: 0.125rem;
	color: #fff;
	background-color: #ee5641;
	float: right;
}

input.dismiss:hover,
input.dismiss:focus {
	background-color: #ec7063;
}

input.dismiss:active {
	background-color: #c44133;
}

/* Settings */

#settings > form,
#settings > section {
	margin-bottom: 0.5rem;
}

#settings > form > h3,
#settings > section > h3 {
	display: inline;
	padding-left: 1.4em;
	background-size: 1em;
	background-position: 0;
	background-repeat: no-repeat;
	font-size: 1rem;
}

#settings-name > label {
	display: block;
	font-weight:bold;
	background-image: url('../images/user.svg');
}

#settings-emails > h3 {
	background-image: url('../images/email.svg');
}

#settings-password > h3 {
	background-image: url('../images/password.svg');
}

#settings-circles > h3 {
	background-image: url('../images/circle.svg');
}

#settings-name > input {
	float:left;
	padding: 0.375rem 0.75rem;
	height: 2rem;
}

#settings-name > input:first-of-type {
	width: 84%;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#settings-name > input:last-of-type {
	width: 16%;
	border: 1px solid #ccc;
	border-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* Clearfix on #settings-name */

#settings-name:after {
	content: " ";
	display: table;
	clear: both;
}

#email-notifications,
#settings-emails > form > label {
	display: inline;
	width: auto;
	padding: 0;
	margin: 0;
}

td > input[type="checkbox"] {
	width: auto;
}

.dismiss-email{
	width:17px;
	height:17px;
	margin-bottom:4px;
	margin-right:4px;
	cursor: pointer;
}

#settings-password > label {
	display: none;
}

#settings-circles > ul {
	height: 3rem;
}

#settings-circles > ul > li {
	float: left;
	color: #fff;
	background-color: #3498db;
	margin: 0 0.2rem;
	padding: 0.25rem 0.75rem;
	border-radius: 0.25rem;
}


/*

   888    888          888
   888    888          888
   888    888          888
   8888888888  .d88b.  888 88888b.   .d88b.  888d888 .d8888b
   888    888 d8P  Y8b 888 888 "88b d8P  Y8b 888P"   88K
   888    888 88888888 888 888  888 88888888 888     "Y8888b.
   888    888 Y8b.     888 888 d88P Y8b.     888          X88
   888    888  "Y8888  888 88888P"   "Y8888  888      88888P'
                           888
                           888
                           888
*/

/* Hide visually and from screen readers: h5bp.com/u */

.hidden {
	display: none !important;
	visibility: hidden;
}

/* Hide only visually, but have it available for screen readers: h5bp.com/v */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/* Hide visually and from screen readers, but maintain layout */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*

   888b     d888               888 d8b
   8888b   d8888               888 Y8P
   88888b.d88888               888
   888Y88888P888  .d88b.   .d88888 888  8888b.
   888 Y888P 888 d8P  Y8b d88" 888 888     "88b
   888  Y8P  888 88888888 888  888 888 .d888888
   888   "   888 Y8b.     Y88b 888 888 888  888
   888       888  "Y8888   "Y88888 888 "Y888888



    .d88888b.                            d8b
   d88P" "Y88b                           Y8P
   888     888
   888     888 888  888  .d88b.  888d888 888  .d88b.  .d8888b
   888     888 888  888 d8P  Y8b 888P"   888 d8P  Y8b 88K
   888 Y8b 888 888  888 88888888 888     888 88888888 "Y8888b.
   Y88b.Y8b88P Y88b 888 Y8b.     888     888 Y8b.          X88
    "Y888888"   "Y88888  "Y8888  888     888  "Y8888   88888P'
          Y8b

*/

@media only screen and (min-width: 35rem) {
	/* Style adjustments for viewports that meet the condition */

	main {
		width: 35rem;
		margin: auto;
	}

	#topbar, #footer, #logged-in {
		padding: 0 calc((100% - 35rem) / 2);
	}

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/*

   8888888b.          d8b          888
   888   Y88b         Y8P          888
   888    888                      888
   888   d88P 888d888 888 88888b.  888888
   8888888P"  888P"   888 888 "88b 888
   888        888     888 888  888 888
   888        888     888 888  888 Y88b.
   888        888     888 888  888  "Y888

*/

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
