
<section id="home">
		<div id="feed-title">Notifications</div>
		{{ with .error}}
			<p><strong style="color:#fcc;">{{ . }}</strong></p>
		{{ end }}
		{{ with .feed }}
			<ul>
			{{ range . }}
				{{ with .Event }}
				<!-- An event notification -->

					<li class="alert-box notice">

						<form action="/dismiss" method="post">
							<input type="hidden" name="id" value="{{ .Id }}">
							<input type="submit" class="dismiss-notification" title="Click to Close" value="✕">
						</form>
						<hgroup>
							<h3>{{ .Title }}</h3>
							<h4>created by Example</h4>
						</hgroup>
						<b>Location: </b>{{ .Location }} &nbsp • &nbsp &nbsp <b>Date and Time: </b><time datetime="{{ .Date }}">{{ .PrettyDate }}</time>
						<br><b>Threshold: </b>{{ .Threshold }}  &nbsp • &nbsp &nbsp  <b>Status: </b><em>{{ .Status }}</em>
						<br><b>Extra Info:</b> {{ with .Info }}{{ . }}{{ end }}

						<form action="/join" method="post">
							<input type="hidden" name="id" value="{{ .Id }}">
							<input type="submit" class="joinevent-button" title="Join the event" value="✔︎ Join">
						</form>

						<p><a href="#" id="whos-going" data-eventId="{{ .Id }}" ><u>People Attending</u></a>
						<div class="more-info">
							<ul>
							</ul>
						</div>

					</li>

					<!-- A success notification (if you joined a circle or created one) -->
				{{ end }}

				{{ with .Member }}
					{{ if .Me }}
						<li class="alert-box success">
							<form action="/dismiss" method="post">
								<input type="hidden" name="id" value="{{ .Id }}">
								<input type="submit" class="dismiss-notification" title="Click to Close" value="✕">
							</form>
							<p><span>You're in!</span> You have joined “<b>{{ .Circle.Name }}</b>” circle.</p>
						</li>
					{{ else }}
						<li class="alert-box warning">
							<form action="/dismiss" method="post">
								<input type="hidden" name="id" value="{{ .Id }}">
								<input type="submit" class="dismiss-notification" title="Click to Close" value="✕">
							</form>
							<p><span>Alert:</span> <b>{{ .User.Name }}</b> has joined your circle “<b>{{ .Circle.Name }}</b>”.</p>
						</li>
					{{ end }}
				{{ end }}
			{{ end }}
			</ul>
		{{ else }}
			<p>You have no new notifications or upcoming events :(</p>
		{{ end }}
			<p>


		</section>