<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ .brand }}</title>
		<meta name="description" content="{{ .description }}">
		<link rel="stylesheet" href="/css/bootstrap-tagsinput.css">
		<link rel="stylesheet" href="/css/jquery-ui.css">
		<link rel="stylesheet" href="/css/jquery.datetimepicker.css">
		<link rel="stylesheet" href="/css/main.css">
		<script src="/js/modernizr-2.8.0.min.js"></script>

	</head>
	<body>

		<!-- main header -->
		<header id="topbar">
			<h1><a href="/">{{ .brand }}</a></h1>
			{{ with .topbar_login_button }}<a href="/login" role="button">Log in</a>{{ end }}
			{{ with .topbar_signup_button }}<a href="/signup" role="button">{{ . }}</a>{{ end }}
			{{ with .topbar_newevent_button }}<a href="/new/event" role="button" title="{{ . }}">{{ . }}</a>{{ end }}
		</header>

		<!-- main content -->
		<main role="main" id="{{ .page }}"{{ with .loggedin }} class="logged-in"{{ end }}>
			{{ yield }}
		</main>

		{{ if .loggedin }}
		<!-- logged in footer -->
		<footer id="logged-in">
			<p>{{ printf .loggedin_text .user_name }}</p>
			<nav>
				<a href="/settings">{{ .settings_text }}</a>
				<a href="/logout">{{ .logout_text }}</a>
			</nav>
		</footer>
		{{ end }}

		<!-- main footer -->
		<footer id="footer">
			<nav>
				<ul>
					<li><a href="/about">{{ .about }}</a></li>
					<li><a href="mailto:admin@toople.co">{{ .contact }}</a></li>
					<li><a href="http://twitter.com/toople_">{{ .twitter }}</a></li>
					<!-- <li><a href="http://github.com/toople-co">{{ .source }}</a></li> -->
				</ul>
			</nav>
		</footer>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>
		<script src="/js/mailcheck.js"></script>
		<script src="/js/jquery-ui/jquery-ui.js"></script>
		<script src="/js/jquery-ui/jquery.datetimepicker.js"></script>
		<script src="/js/typeahead.bundle.js"></script>
		<script src="/js/awesomeScript.js"></script>
		<script src="/js/bootstrap-tagsinput.js"></script>
		<script src="/js/jquery.passstrength.min.js"></script>

	</body>
</html>
