<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ .brand }}</title>
		<meta name="description" content="{{ .description }}">
		<link rel="stylesheet" href="/css/main.css">
		<script src="/js/modernizr-2.8.0.min.js"></script>
	</head>
	<body>
		<header id="topbar">
			<h1><a href="/">{{ .brand }}</a></h1>
			{{ with .login_button }}<a href="/login" role="button">Log in</a>{{ end }}
		</header>
{{ yield }}
		<footer id="footer">
			<ul>
				<li><a href="/about">{{ .about }}</a></li>
				<li><a href="mailto:admin@toople.co">{{ .contact }}</a></li>
				<li><a href="http://github.com/toople-co">{{ .source }}</a></li>
			</ul>
		</footer>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>
	</body>
</html>
