			<h2>{{ .title_text }}</h2>

			<form action="/event" method="post">

				<label for="new-event-title">{{ .event_name_label }}</label>
				<input type="text" id="new-event-title" name="title" {{ with .title }}value="{{ . }}"{{ end }} autofocus required>

				<label for="new-event-date">{{ .datetime_label }}</label>
				<input type="datetime-local" id="new-event-date" name="date" {{ with .date }}value="{{ . }}"{{ end }} required>

				<label for="new-event-location">{{ .location_label }}</label>
				<input type="text" id="new-event-location" name="location" {{ with .location }}value="{{ . }}"{{ end }} required>

				<label for="new-event-threshold">{{ .threshold_label }}</label>
				<input type="number" id="new-event-threshold" name="threshold" {{ with .threshold }}value="{{ . }}"{{ end }} placeholder="{{ .threshold_placeholder }}" min="1" required>

				<label for="new-event-circles">{{ .circles_label }}</label>
				<input type="text" id="new-event-circles" name="circles" {{ with .circles }}value="{{ . }}"{{ end }} placeholder="{{ .circles_placeholder }}" data-role="tagsinput" required>

				<label for="new-event-info">{{ .extra_info_label }}</label>
				<textarea id="new-event-info" name="info" placeholder="{{ .extra_info_comment }}">{{ with .info }}{{ . }}{{ end }}</textarea>

				<input type="submit" value="{{ .submit }}">

			</form>