			<h2>{{ .title_text }}</h2>

			<form action="/circle" method="post">

				<label for="new-circle-name">{{ .circle_name_label }}</label>
				<input type="text" id="new-circle-name" name="name"{{ with .name }} value="{{ . }}"{{ end }} autofocus required>

				<label for="new-circle-emails">{{ .email_label }}</label>
				<input type="email" id="new-circle-emails" name="emails" {{ with .emails }}value="{{ . }}"{{ end }} placeholder="{{ .emails_placeholder }}" multiple data-role="tagsinput">

				<label for="new-circle-slug">{{ .slug_label }} </label>
				<input type="text" id="new-circle-slug" name="slug" {{ with .slug }}value="{{ . }}"{{ end }} placeholder="{{ .slug_placeholder }}" pattern="[a-zA-Z0-9](-?[a-zA-Z0-9]+)*" required>

				<input type="submit" value="{{ .submit }}">

			</form>