			<h2>{{ .title_text }}</h2>

			<form action="/settings/name" method="post" id="settings-name">
				<label for="name">Name</label>
				<input type="text" id="name" name="name" value="{{ .Name }}" required>
				<input type="submit" value="Save">
			</form>

			<section id="settings-emails">
				<h3>Emails</h3>
				<table id="email-table">
					<tr>
						<th>Email Address</th>
						<th>Notifications</th>
						<th>Remove?</th>
					</tr>
{{ range .Emails}}
					<tr id="table-row">
						<td>{{ . }}</td>
						<td><input type="checkbox" checked></td>
						<td><img class="dismiss-email" src="images/bin.svg"></td>
					</tr>
{{ end }}
				</table>
				<form action="/settings/email">
					<label for="email">Add another email:</label>
					<input type="email" name="email" id="email" placeholder="Email" required>
					<input type="checkbox" id="email-notifications" name="notifications" checked>
					<label for="email-notifications">Receive notifications on this email?</label>
					<input type="submit" value="Add email">
				</form>
			</section>

			<form action="/settings/password" method="post" id="settings-password">
				<h3>Password</h3>
				<label for="current-password">Current password:</label>
				<input type="text" id="current-password" name="current-password" placeholder="Current password" required>
				<label for="new-password">New password:</label>
				<input type="text" id="new-password" name="new-password" placeholder="New password" required>
				<input type="submit" value="Save">
			</form>

			<section id="settings-circles">
				<h3>My Circles</h3>
				<ul>
					<li>Justin Bieber Fans</li>
					<li>Joe Bar Team</li>
				</ul>
				<a role="button" href="/new/circle">Create a New Circle</a>
			</section>
