<section id="settings">

<H2><B>My Settings</B></h2>
	<P></P>
		


<form>

	<div id="userName">
		<label for="name">Name: </label><span id='name'>Amin Omarouayache</span>&nbsp &nbsp 
		<a href="#" id="clickToEditName">Edit Name</a>
		<a href="#" class="whatIsThis">?</a>
	</div>
		
		<P></P>
		
 <div id="Emails">
 	<img class="small-icon" src="images/email.png"></img>
	<a href="#" class="whatIsThis">?</a>
	<b>Emails: </b>
	<table id="email-table">
		<tr><th>Email Address</th><th>Notifications</th><th>Remove?</th></tr>
		<tr id="table-row"><td>personal.amin@gmail.com</td><td><input type="checkbox" checked></td><td><img class="dismiss-email" src="images/bin.svg"></img></td></tr>
		<tr id="table-row"><td>personal.amin@hotmail.com</td><td><input type="checkbox"></td><td><img class="dismiss-email" src="images/bin.svg"></img></td></tr>
	</table>
	<a href="#" id="clickToEditEmails">+Add email</a>
	
	

    
</div>

	

<p></p>

	<div id="userPassword">
		<img class="small-icon" src="images/password.png"></img>
          <b>Password: </b><span id='editableText'>**********</span>&nbsp &nbsp 
		  <a href="#" class="whatIsThis">?</a>
		  <a href="#" id="clickToEditPw">Edit Password</a>
		<div class="changePw"><input type="password" placeholder="current password">
			<input type="password" placeholder="new password">
			<button class="submit-button">Change Password</button>
		</div>
			
	</div>
		
<hr>
	
<P></P>
			
	<div id="userCircles">
		<img class="small-icon" src="images/circle.png"></img>
		<b>My Circles</b>
		<a href="#" class="whatIsThis">?</a>
	</div>



	
</form>
	
<p></p>

	<div class="alert-box warning" id="popupInfo"><span>Help:</span>
		<br><b>Name: </b>Click "Edit Name" to activate the input box, make the chages you want, then click save to validate the changes you made.
		<br><b>Emails: </b>Once you have entered an email press your return key. Each email you enter must be verified by clicking a link in an email we will send you.
		<br><b>Password: </b>Click "Edit Password" to activate the input boxes, enter your current password following by a new password and click the change password button.
		<br><b>My Circles: </b>You can view the circles you are part of and leave them from this page.
	</div>
				
		
		
		
		
		
		
		
		
		
		
</section>