		<section id="welcome">
			<p>{{ .subhead }}</p>
			<img src="/img/toople-mechanism.svg" alt="{{ .caption }}">
			<a href="/signup" role="button">{{ .signup_button }}</a>
			<p><small>{{ .signup_comment }}</small></p>
		</section>